{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}
<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">

<f:layout name="Content" />

<f:section name="Configuration">
    <flux:form id="imageswapmenu" label="Image Swap Menu" description="Grid menu with image swap on hover" options="{group: 'FCE', icon: '/typo3conf/ext/anil/Resources/Public/Icons/grid.png'}">
        <flux:field.input name="title1" label="Title 01"/>
        <flux:field.file name="foregroundImage1" label="Image 01"/>
        <flux:field.file name="backgroundImage1" label="Image Swap 01"/>
        <flux:field.input name="link1" label="Link 01">
            <flux:wizard.link/>
        </flux:field.input>
        <flux:field.input name="title2" label="Title 02"/>
        <flux:field.file name="foregroundImage2" label="Image 02"/>
        <flux:field.file name="backgroundImage2" label="Image Swap 02"/>
        <flux:field.input name="link2" label="Link 02">
            <flux:wizard.link/>
        </flux:field.input>
        <flux:field.input name="title3" label="Title 03"/>
        <flux:field.file name="foregroundImage3" label="Image 03"/>
        <flux:field.file name="backgroundImage3" label="Image Swap 03"/>
        <flux:field.input name="link3" label="Link 03">
            <flux:wizard.link/>
        </flux:field.input>
        <flux:field.input name="title4" label="Title 04"/>
        <flux:field.file name="foregroundImage4" label="Image 04"/>
        <flux:field.file name="backgroundImage4" label="Image Swap 04"/>
        <flux:field.input name="link4" label="Link 04">
            <flux:wizard.link/>
        </flux:field.input>
        <flux:field.input name="title5" label="Title 05"/>
        <flux:field.file name="foregroundImage5" label="Image 05"/>
        <flux:field.file name="backgroundImage5" label="Image Swap 05"/>
        <flux:field.input name="link5" label="Link 05">
            <flux:wizard.link/>
        </flux:field.input>
        <flux:field.input name="title6" label="Title 06"/>
        <flux:field.file name="foregroundImage6" label="Image 06"/>
        <flux:field.file name="backgroundImage6" label="Image Swap 06"/>
        <flux:field.input name="link6" label="Link 06">
            <flux:wizard.link/>
        </flux:field.input>
        <flux:field.input name="title7" label="Title 07"/>
        <flux:field.file name="foregroundImage7" label="Image 07"/>
        <flux:field.file name="backgroundImage7" label="Image Swap 07"/>
        <flux:field.input name="link7" label="Link 07">
            <flux:wizard.link/>
        </flux:field.input>
        <flux:field.input name="title8" label="Title 08"/>
        <flux:field.file name="foregroundImage8" label="Image 08"/>
        <flux:field.file name="backgroundImage8" label="Image Swap 08"/>
        <flux:field.input name="link8" label="Link 08">
            <flux:wizard.link/>
        </flux:field.input>
        <flux:field.input name="title9" label="Title 09"/>
        <flux:field.file name="foregroundImage9" label="Image 09"/>
        <flux:field.file name="backgroundImage9" label="Image Swap 09"/>
        <flux:field.input name="link9" label="Link 09">
            <flux:wizard.link/>
        </flux:field.input>
        <flux:field.input name="title10" label="Title 10"/>
        <flux:field.file name="foregroundImage10" label="Image 10"/>
        <flux:field.file name="backgroundImage10" label="Image Swap 10"/>
        <flux:field.input name="link10" label="Link 10">
            <flux:wizard.link/>
        </flux:field.input>
        <flux:field.input name="title11" label="Title 11"/>
        <flux:field.file name="foregroundImage11" label="Image 11"/>
        <flux:field.file name="backgroundImage11" label="Image Swap 11"/>
        <flux:field.input name="link11" label="Link 11">
            <flux:wizard.link/>
        </flux:field.input>
        <flux:field.input name="title12" label="Title 12"/>
        <flux:field.file name="foregroundImage12" label="Image 12"/>
        <flux:field.file name="backgroundImage12" label="Image Swap 12"/>
        <flux:field.input name="link12" label="Link 12">
            <flux:wizard.link/>
        </flux:field.input>
        <flux:field.input name="title13" label="Title 13"/>
        <flux:field.file name="foregroundImage13" label="Image 13"/>
        <flux:field.file name="backgroundImage13" label="Image Swap 13"/>
        <flux:field.input name="link13" label="Link 13">
            <flux:wizard.link/>
        </flux:field.input>
        <flux:field.input name="title14" label="Title 14"/>
        <flux:field.file name="foregroundImage14" label="Image 14"/>
        <flux:field.file name="backgroundImage14" label="Image Swap 14"/>
        <flux:field.input name="link14" label="Link 14">
            <flux:wizard.link/>
        </flux:field.input>
        <flux:field.input name="title15" label="Title 15"/>
        <flux:field.file name="foregroundImage15" label="Image 15"/>
        <flux:field.file name="backgroundImage15" label="Image Swap 15"/>
        <flux:field.input name="link15" label="Link 15">
            <flux:wizard.link/>
        </flux:field.input>
        <flux:field.input name="title16" label="Title 16"/>
        <flux:field.file name="foregroundImage16" label="Image 16"/>
        <flux:field.file name="backgroundImage16" label="Image Swap 16"/>
        <flux:field.input name="link16" label="Link 16">
            <flux:wizard.link/>
        </flux:field.input>
        <flux:field.input name="title17" label="Title 17"/>
        <flux:field.file name="foregroundImage17" label="Image 17"/>
        <flux:field.file name="backgroundImage17" label="Image Swap 17"/>
        <flux:field.input name="link17" label="Link 17">
            <flux:wizard.link/>
        </flux:field.input>
        <flux:field.input name="title18" label="Title 18"/>
        <flux:field.file name="foregroundImage18" label="Image 18"/>
        <flux:field.file name="backgroundImage18" label="Image Swap 18"/>
        <flux:field.input name="link18" label="Link 18">
            <flux:wizard.link/>
        </flux:field.input>
        <flux:field.input name="title19" label="Title 19"/>
        <flux:field.file name="foregroundImage19" label="Image 19"/>
        <flux:field.file name="backgroundImage19" label="Image Swap 19"/>
        <flux:field.input name="link19" label="Link 19">
            <flux:wizard.link/>
        </flux:field.input>
        <flux:field.input name="title20" label="Title 20"/>
        <flux:field.file name="foregroundImage20" label="Image 20"/>
        <flux:field.file name="backgroundImage20" label="Image Swap 20"/>
        <flux:field.input name="link20" label="Link 20">
            <flux:wizard.link/>
        </flux:field.input>
    </flux:form>
</f:section>


<f:section name="Preview">
    <h2 style=" ">Image Swap 01</h2>
    <p><b>Title: </b>{title1}</p>
    <img src="{v:uri.image(src: '{foregroundImage1}', treatIdAsReference: 1)}" style="width: 150px;"/>
    <img src="{v:uri.image(src: '{backgroundImage1}', treatIdAsReference: 1)}" style="width: 150px;"/>
    <h2 style=" ">Image Swap 02</h2>
    <p><b>Title: </b>{title2}</p>
    <img src="{v:uri.image(src: '{foregroundImage2}', treatIdAsReference: 1)}" style="width: 150px;"/>
    <img src="{v:uri.image(src: '{backgroundImage2}', treatIdAsReference: 1)}" style="width: 150px;"/>
    <h2 style=" ">Image Swap 03</h2>
    <p><b>Title: </b>{title3}</p>
    <img src="{v:uri.image(src: '{foregroundImage3}', treatIdAsReference: 1)}" style="width: 150px;"/>
    <img src="{v:uri.image(src: '{backgroundImage3}', treatIdAsReference: 1)}" style="width: 150px;"/>
    <h2 style=" ">Image Swap 04</h2>
    <p><b>Title: </b>{title4}</p>
    <img src="{v:uri.image(src: '{foregroundImage4}', treatIdAsReference: 1)}" style="width: 150px;"/>
    <img src="{v:uri.image(src: '{backgroundImage4}', treatIdAsReference: 1)}" style="width: 150px;"/>
    <h2 style=" ">Image Swap 05</h2>
    <p><b>Title: </b>{title5}</p>
    <img src="{v:uri.image(src: '{foregroundImage5}', treatIdAsReference: 1)}" style="width: 150px;"/>
    <img src="{v:uri.image(src: '{backgroundImage5}', treatIdAsReference: 1)}" style="width: 150px;"/>
    <h2 style=" ">Image Swap 06</h2>
    <p><b>Title: </b>{title6}</p>
    <img src="{v:uri.image(src: '{foregroundImage6}', treatIdAsReference: 1)}" style="width: 150px;"/>
    <img src="{v:uri.image(src: '{backgroundImage6}', treatIdAsReference: 1)}" style="width: 150px;"/>
    <h2 style=" ">Image Swap 07</h2>
    <p><b>Title: </b>{title7}</p>
    <img src="{v:uri.image(src: '{foregroundImage7}', treatIdAsReference: 1)}" style="width: 150px;"/>
    <img src="{v:uri.image(src: '{backgroundImage7}', treatIdAsReference: 1)}" style="width: 150px;"/>
    <h2 style=" ">Image Swap 08</h2>
    <p><b>Title: </b>{title8}</p>
    <img src="{v:uri.image(src: '{foregroundImage8}', treatIdAsReference: 1)}" style="width: 150px;"/>
    <img src="{v:uri.image(src: '{backgroundImage8}', treatIdAsReference: 1)}" style="width: 150px;"/>
    <h2 style=" ">Image Swap 09</h2>
    <p><b>Title: </b>{title9}</p>
    <img src="{v:uri.image(src: '{foregroundImage9}', treatIdAsReference: 1)}" style="width: 150px;"/>
    <img src="{v:uri.image(src: '{backgroundImage9}', treatIdAsReference: 1)}" style="width: 150px;"/>
    <h2 style=" ">Image Swap 10</h2>
    <p><b>Title: </b>{title10}</p>
    <img src="{v:uri.image(src: '{foregroundImage10}', treatIdAsReference: 1)}" style="width: 150px;"/>
    <img src="{v:uri.image(src: '{backgroundImage10}', treatIdAsReference: 1)}" style="width: 150px;"/>
    <h2 style=" ">Image Swap 11</h2>
    <p><b>Title: </b>{title11}</p>
    <img src="{v:uri.image(src: '{foregroundImage11}', treatIdAsReference: 1)}" style="width: 150px;"/>
    <img src="{v:uri.image(src: '{backgroundImage11}', treatIdAsReference: 1)}" style="width: 150px;"/>
    <h2 style=" ">Image Swap 12</h2>
    <p><b>Title: </b>{title12}</p>
    <img src="{v:uri.image(src: '{foregroundImage12}', treatIdAsReference: 1)}" style="width: 150px;"/>
    <img src="{v:uri.image(src: '{backgroundImage12}', treatIdAsReference: 1)}" style="width: 150px;"/>
    <h2 style=" ">Image Swap 13</h2>
    <p><b>Title: </b>{title13}</p>
    <img src="{v:uri.image(src: '{foregroundImage13}', treatIdAsReference: 1)}" style="width: 150px;"/>
    <img src="{v:uri.image(src: '{backgroundImage13}', treatIdAsReference: 1)}" style="width: 150px;"/>
    <h2 style=" ">Image Swap 14</h2>
    <p><b>Title: </b>{title14}</p>
    <img src="{v:uri.image(src: '{foregroundImage14}', treatIdAsReference: 1)}" style="width: 150px;"/>
    <img src="{v:uri.image(src: '{backgroundImage14}', treatIdAsReference: 1)}" style="width: 150px;"/>
    <h2 style=" ">Image Swap 15</h2>
    <p><b>Title: </b>{title15}</p>
    <img src="{v:uri.image(src: '{foregroundImage15}', treatIdAsReference: 1)}" style="width: 150px;"/>
    <img src="{v:uri.image(src: '{backgroundImage15}', treatIdAsReference: 1)}" style="width: 150px;"/>
    <h2 style=" ">Image Swap 16</h2>
    <p><b>Title: </b>{title16}</p>
    <img src="{v:uri.image(src: '{foregroundImage16}', treatIdAsReference: 1)}" style="width: 150px;"/>
    <img src="{v:uri.image(src: '{backgroundImage16}', treatIdAsReference: 1)}" style="width: 150px;"/>
    <h2 style=" ">Image Swap 17</h2>
    <p><b>Title: </b>{title17}</p>
    <img src="{v:uri.image(src: '{foregroundImage17}', treatIdAsReference: 1)}" style="width: 150px;"/>
    <img src="{v:uri.image(src: '{backgroundImage17}', treatIdAsReference: 1)}" style="width: 150px;"/>
    <h2 style=" ">Image Swap 18</h2>
    <p><b>Title: </b>{title18}</p>
    <img src="{v:uri.image(src: '{foregroundImage18}', treatIdAsReference: 1)}" style="width: 150px;"/>
    <img src="{v:uri.image(src: '{backgroundImage18}', treatIdAsReference: 1)}" style="width: 150px;"/>
    <h2 style=" ">Image Swap 19</h2>
    <p><b>Title: </b>{title19}</p>
    <img src="{v:uri.image(src: '{foregroundImage19}', treatIdAsReference: 1)}" style="width: 150px;"/>
    <img src="{v:uri.image(src: '{backgroundImage19}', treatIdAsReference: 1)}" style="width: 150px;"/>
    <h2 style=" ">Image Swap 20</h2>
    <p><b>Title: </b>{title20}</p>
    <img src="{v:uri.image(src: '{foregroundImage20}', treatIdAsReference: 1)}" style="width: 150px;"/>
    <img src="{v:uri.image(src: '{backgroundImage20}', treatIdAsReference: 1)}" style="width: 150px;"/>
</f:section>


<f:section name="Main">
    <div class="wrapper">
        <div class="item one">
            <img class="anil" src="{v:uri.image(src: '{foregroundImage1}', treatIdAsReference: 1)}"/>
                <f:link.typolink parameter="{link1}">
                <div class="switch">
                    <img class="front-image" src="{v:uri.image(src: '{backgroundImage1}', treatIdAsReference: 1)}"/>
                    <div class="text">
                        <h2>{title1}</h2>
                    </div>
                </div>
                </f:link.typolink>
        </div>
        <div class="item two tall">
            <img class="anil" src="{v:uri.image(src: '{foregroundImage2}', treatIdAsReference: 1)}"/>
                <f:link.typolink parameter="{link2}">
                <div class="switch">
                    <img class="front-image" src="{v:uri.image(src: '{backgroundImage2}', treatIdAsReference: 1)}"/>
                    <div class="text">
                        <h2>{title2}</h2>
                    </div>
                </div>
                </f:link.typolink>
        </div>
        <div class="item three">
            <img class="anil" src="{v:uri.image(src: '{foregroundImage3}', treatIdAsReference: 1)}"/>
                <f:link.typolink parameter="{link3}">
                <div class="switch">
                    <img class="front-image" src="{v:uri.image(src: '{backgroundImage3}', treatIdAsReference: 1)}"/>
                    <div class="text">
                        <h2>{title3}</h2>
                    </div>
                </div>
                </f:link.typolink>
        </div>
        <div class="item four">
            <img class="anil" src="{v:uri.image(src: '{foregroundImage4}', treatIdAsReference: 1)}"/>
                <f:link.typolink parameter="{link4}">
                <div class="switch">
                    <img class="front-image" src="{v:uri.image(src: '{backgroundImage4}', treatIdAsReference: 1)}"/>
                    <div class="text">
                        <h2>{title4}</h2>
                    </div>
                </div>
                </f:link.typolink>
        </div>
        <div class="item five tall">
            <img class="anil" src="{v:uri.image(src: '{foregroundImage5}', treatIdAsReference: 1)}"/>
                <f:link.typolink parameter="{link5}">
                <div class="switch">
                    <img class="front-image" src="{v:uri.image(src: '{backgroundImage5}', treatIdAsReference: 1)}"/>
                    <div class="text">
                        <h2>{title5}</h2>
                    </div>
                </div>
                </f:link.typolink>
        </div>
        <div class="item six">
            <img class="anil" src="{v:uri.image(src: '{foregroundImage6}', treatIdAsReference: 1)}"/>
                <f:link.typolink parameter="{link6}">
                <div class="switch">
                    <img class="front-image" src="{v:uri.image(src: '{backgroundImage6}', treatIdAsReference: 1)}"/>
                    <div class="text">
                        <h2>{title6}</h2>
                    </div>
                </div>
                </f:link.typolink>
        </div>
        <div class="item seven tall">
            <img class="anil" src="{v:uri.image(src: '{foregroundImage7}', treatIdAsReference: 1)}"/>
                <f:link.typolink parameter="{link7}">
                <div class="switch">
                    <img class="front-image" src="{v:uri.image(src: '{backgroundImage7}', treatIdAsReference: 1)}"/>
                    <div class="text">
                        <h2>{title7}</h2>
                    </div>
                </div>
                </f:link.typolink>
        </div>
        <div class="item eight">
            <img class="anil" src="{v:uri.image(src: '{foregroundImage8}', treatIdAsReference: 1)}"/>
                <f:link.typolink parameter="{link8}">
                <div class="switch">
                    <img class="front-image" src="{v:uri.image(src: '{backgroundImage8}', treatIdAsReference: 1)}"/>
                    <div class="text">
                        <h2>{title8}</h2>
                    </div>
                </div>
                </f:link.typolink>
        </div>
        <div class="item nine">
            <img class="anil" src="{v:uri.image(src: '{foregroundImage9}', treatIdAsReference: 1)}"/>
                <f:link.typolink parameter="{link9}">
                <div class="switch">
                    <img class="front-image" src="{v:uri.image(src: '{backgroundImage9}', treatIdAsReference: 1)}"/>
                    <div class="text">
                        <h2>{title9}</h2>
                    </div>
                </div>
                </f:link.typolink>
        </div>
        <div class="item ten tall">
            <img class="anil" src="{v:uri.image(src: '{foregroundImage10}', treatIdAsReference: 1)}"/>
                <f:link.typolink parameter="{link10}">
                <div class="switch">
                    <img class="front-image" src="{v:uri.image(src: '{backgroundImage10}', treatIdAsReference: 1)}"/>
                    <div class="text">
                        <h2>{title10}</h2>
                    </div>
                </div>
                </f:link.typolink>
        </div>
        <div class="item eleven">
            <img class="anil" src="{v:uri.image(src: '{foregroundImage11}', treatIdAsReference: 1)}"/>
                <f:link.typolink parameter="{link11}">
                <div class="switch">
                    <img class="front-image" src="{v:uri.image(src: '{backgroundImage11}', treatIdAsReference: 1)}"/>
                    <div class="text">
                        <h2>{title11}</h2>
                    </div>
                </div>
                </f:link.typolink>
        </div>
        <div class="item twelve tall">
            <img class="anil" src="{v:uri.image(src: '{foregroundImage12}', treatIdAsReference: 1)}"/>
                <f:link.typolink parameter="{link12}">
                <div class="switch">
                    <img class="front-image" src="{v:uri.image(src: '{backgroundImage12}', treatIdAsReference: 1)}"/>
                    <div class="text">
                        <h2>{title12}</h2>
                    </div>
                </div>
                </f:link.typolink>
        </div>
        <div class="item thirteen tall">
            <img class="anil" src="{v:uri.image(src: '{foregroundImage13}', treatIdAsReference: 1)}"/>
                <f:link.typolink parameter="{link13}">
                <div class="switch">
                    <img class="front-image" src="{v:uri.image(src: '{backgroundImage13}', treatIdAsReference: 1)}"/>
                    <div class="text">
                        <h2>{title13}</h2>
                    </div>
                </div>
                </f:link.typolink>
        </div>
        <div class="item fourteen">
            <img class="anil" src="{v:uri.image(src: '{foregroundImage14}', treatIdAsReference: 1)}"/>
                <f:link.typolink parameter="{link14}">
                <div class="switch">
                    <img class="front-image" src="{v:uri.image(src: '{backgroundImage14}', treatIdAsReference: 1)}"/>
                    <div class="text">
                        <h2>{title14}</h2>
                    </div>
                </div>
                </f:link.typolink>
        </div>
        <div class="item fifteen tall">
            <img class="anil" src="{v:uri.image(src: '{foregroundImage15}', treatIdAsReference: 1)}"/>
                <f:link.typolink parameter="{link15}">
                <div class="switch">
                    <img class="front-image" src="{v:uri.image(src: '{backgroundImage15}', treatIdAsReference: 1)}"/>
                    <div class="text">
                        <h2>{title15}</h2>
                    </div>
                </div>
                </f:link.typolink>
        </div>
        <div class="item sixteen">
            <img class="anil" src="{v:uri.image(src: '{foregroundImage16}', treatIdAsReference: 1)}"/>
                <f:link.typolink parameter="{link16}">
                <div class="switch">
                    <img class="front-image" src="{v:uri.image(src: '{backgroundImage16}', treatIdAsReference: 1)}"/>
                    <div class="text">
                        <h2>{title16}</h2>
                    </div>
                </div>
                </f:link.typolink>
        </div>
        <div class="item seventeen">
            <img class="anil" src="{v:uri.image(src: '{foregroundImage17}', treatIdAsReference: 1)}"/>
                <f:link.typolink parameter="{link17}">
                <div class="switch">
                    <img class="front-image" src="{v:uri.image(src: '{backgroundImage17}', treatIdAsReference: 1)}"/>
                    <div class="text">
                        <h2>{title17}</h2>
                    </div>
                </div>
                </f:link.typolink>
        </div>
        <div class="item eighteen">
            <img class="anil" src="{v:uri.image(src: '{foregroundImage18}', treatIdAsReference: 1)}"/>
                <f:link.typolink parameter="{link18}">
                <div class="switch">
                    <img class="front-image" src="{v:uri.image(src: '{backgroundImage18}', treatIdAsReference: 1)}"/>
                    <div class="text">
                        <h2>{title18}</h2>
                    </div>
                </div>
                </f:link.typolink>
        </div>
        <div class="item nineteen">
            <img class="anil" src="{v:uri.image(src: '{foregroundImage19}', treatIdAsReference: 1)}"/>
                <f:link.typolink parameter="{link19}">
                <div class="switch">
                    <img class="front-image" src="{v:uri.image(src: '{backgroundImage19}', treatIdAsReference: 1)}"/>
                    <div class="text">
                        <h2>{title19}</h2>
                    </div>
                </div>
                </f:link.typolink>
        </div>
        <div class="item twenty tall">
            <img class="anil" src="{v:uri.image(src: '{foregroundImage20}', treatIdAsReference: 1)}"/>
                <f:link.typolink parameter="{link20}">
                <div class="switch">
                    <img class="front-image" src="{v:uri.image(src: '{backgroundImage20}', treatIdAsReference: 1)}"/>
                    <div class="text">
                        <h2>{title20}</h2>
                    </div>
                </div>
                </f:link.typolink>
        </div>
    </div>
</f:section>
